html {
    box-sizing: border-box;
    
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    color: #000;
}

.d-beetwyn {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
}

.heroes {
    padding: 64px 57px 59px;
}

.heroes__info-cart {
    text-align: center;
    color: #fff;
    background-color: #1A142D;
    width: 310px;
    padding: 18px 18px 46px;
    
} 

.cart__title {
    
    font-weight: 48px;
    margin-top: 38px;
}

.cart__place,
.cart__data {
    margin: 0;
}

.bold {
    font-family: 'Montserrat';
    font-weight: bold;
}

.cart__social {
    margin-top: 19px;
    position: relative;
    top:0; 
}

.cart__social-link {
    margin-left: 7px;  
}

.cart__social-link:hover .cart__social-icon {
    position: absolute;
    top: -14px;  
}

.heroes__life {
    max-width: 467px;
}

.life__title {
    margin: 20px 0 7px;
}

.work__item-name--color,
.education__item-name {
    color: #FF3131;
}

.heroes__moments {
    margin-top: 87px;
}

.moments {
    padding: 0; 
}

.moments__item {
    list-style: none;
    position: relative;
    top: 0;
   left: 0;
   overflow: hidden;
}


.moments__item-text {
    display: block;
    width: 100%;
    background-color: #1A142D;
    color: #fff;
    font-size: 12px;
    padding:5px 3px 10px 15px;
    position: absolute;
    top: 220px;
    left: 0;
}

.moments__item:hover .moments__item-text {
    position: absolute;
    top: 180px;
    transition: all 1s ;
}


    


